/* add height to main section */
main {
  height: 125vh;
}

/* styling the box-wrapper */
.box {
  width: 80%;
  margin: 0 auto 50px auto; /* center elements */
}

/* styling the img in the main section */
.article-img {
  border-radius: 50%;
}

/* styling text in the main section */
.uppercase {
  text-transform: uppercase;
}

span {
text-align: justify;
}

.space{
  padding-bottom: 20px;
}

