/* styling main section */
main div {
  margin: 0 auto; /* center all div(s) in main  */
}

.box-wrapper {
  width: 90%;
  padding-top: 100px;
}

.box {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.article-column {
  float: left;
  width: 100%;
}

.article1 {
  padding-right: 30px;
  width: 40%;
}

.article2 {
  padding-left: 30px;
}

.uppercase {
  text-transform: uppercase;
}

span {
text-align: justify;
}
