body {
  font-family: 'Truculenta', sans-serif;
  background-color: #1E2019;
  color: #fff;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1, h3, p {
  line-height: 2;
}

a {
  text-decoration: none;
  cursor: pointer;
}
