/* styling main section */
main div {
  margin: 0 auto; /* center all div(s) in main  */
}

/* styling main section - page headline */
h1 {
  text-align: center;
  padding: 30px;
  font-size: 2.8em;
}

/* styling hero img */
.hero {
  width: 90%;
}

div > figcaption[class="desc-hero"] {
  text-align: center;
  margin-bottom: 20px;
}

/* styling article section */
.box-wrapper {
  width: 90%;
}

.box {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.article-column {
  float: left;
  width: 100%;
}

.article1 {
  padding-right: 30px;
}

.article2 {
  padding-left: 30px;
}
